:root {
    @apply antialiased;
}

/* Reset Default Style */
* {
    scrollbar-width: thin;
}
.fi-page * {
    @apply gap-y-0 gap-x-0;
}
.fi-sidebar *,
.fi-ta *,
.fi-simple-layout *,
.fi-wi-widget *,
.fi-dropdown *,
.fi-input-wrp {
    @apply rounded-none
    [&:nth-child(1_of_.fi-btn)]:rounded-none
    [&:nth-last-child(1_of_.fi-btn)]:rounded-none;
}
.fi-sidebar-nav,
.fi-wi-stats-overview-stat,
.fi-ta,
.fi-tabs,
.fi-page-sub-navigation-sidebar,
.fi-page-sub-navigation-tabs {
    @apply shadow-none;
}

/* Body {fi-panel-core} */
.fi-body {
    @apply min-h-screen
        antialiased
        font-normal
        bg-secondary-50
        text-secondary-950
        dark:bg-secondary-950
        dark:text-white;
}

/* Background */
.bg-grid {
    @apply max-h-screen
    bg-repeat bg-fixed;
    background-image: url("../../../../../public/img/grid.svg");
}
.bg-grid-2 {
    @apply bg-repeat bg-fixed;
    background-image: url("../../../../../public/img/grid-2.svg");
}

/* Loading */
.fi-loading-section .fi-section {
    @apply rounded-none
    border border-secondary-200;
}

/* Icon */
.icon path {
    @apply fill-current transform-gpu;
}

/* Notification */
.fi-no {
    @apply pointer-events-none
    fixed inset-0 z-50
    mx-auto  gap-0 top-12 md:top-8
    flex flex-col-reverse items-end justify-end;
}
.fi-no .fi-no-notification {
    @apply max-w-xs rounded-none shadow-md;
}
.fi-no .fi-no-notification > div {
    @apply p-2 gap-1 justify-center;
}
.fi-no .fi-no-notification .fi-no-notification-icon {
    @apply size-4 shrink-0 mt-1;
}
.fi-no .fi-no-notification .fi-no-notification-title,
.fi-no .fi-no-notification .fi-no-notification-body {
    @apply text-sm text-balance line-clamp-1;
}

/* Cards */
.cards {
    @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-2 justify-start px-0;
}
.card {
    @apply flex flex-col gap-4 p-2 bg-white shadow-none overflow-hidden select-none cursor-default border border-gray-300 justify-between;
}
.card-title {
    @apply text-sm font-medium border-b border-gray-300 py-1;
}
.card-title-icon {
    @apply card-title inline-flex items-center gap-x-1;
}
.card-title-icon svg {
    @apply size-4 shrink-0;
}
.card-content {
    @apply text-sm text-pretty h-full;
}
.cards .card .fi-btn {
    @apply rounded-none px-2 py-1;
}

/* Breadcrumb */
.fi-breadcrumbs {
    @apply bg-white
    shadow-md md:shadow-none
    border-gray-300 border-b
    px-2 py-1 select-none
    w-full flex fixed top-12 md:top-8 z-10;
}
.fi-breadcrumbs .fi-breadcrumbs-list {
    @apply flex flex-wrap items-center gap-x-1;
}
.fi-breadcrumbs .fi-breadcrumbs-list .fi-breadcrumbs-item {
    @apply flex items-center gap-x-1;
}
.fi-breadcrumbs
    .fi-breadcrumbs-list
    .fi-breadcrumbs-item
    .fi-breadcrumbs-item-label {
    @apply text-sm font-medium text-gray-800 dark:text-gray-400 transition duration-75 hover:text-gray-700 dark:hover:text-gray-200;
}
.fi-breadcrumbs
    .fi-breadcrumbs-list
    .fi-breadcrumbs-item
    .fi-breadcrumbs-item-separator {
    @apply size-5 text-gray-500 dark:text-gray-500;
}

/* Tabs {fi-page-sub-navigation-tabs} */
.fi-tabs {
    @apply px-0 py-0 w-full overflow-x-auto bg-white shadow-none gap-x-0 m-0 rounded-none ring-1 ring-gray-300;
}
.fi-tabs .fi-tabs-item {
    @apply flex items-center justify-center
    py-1 px-2 gap-2 whitespace-nowrap
    border-e border-gray-300 rounded-none outline-none
    text-sm font-medium transition duration-75
    hover:bg-gray-50
    focus-visible:bg-gray-50
    dark:hover:bg-white/5
    dark:focus-visible:bg-white/5;
}
.fi-tabs .fi-tabs-item-active {
    @apply border-b-primary-500 border-b-2 bg-white;
}
.fi-tabs .fi-tabs-item .fi-tabs-item-icon {
    @apply size-4 text-gray-800;
}
.fi-tabs .fi-tabs-item .fi-tabs-item-label {
    @apply p-0 text-gray-800;
}
.fi-tabs .fi-tabs-item .fi-badge {
    @apply rounded-none leading-3;
}

/* Modal Window {Window, Slide Over} */
.fi-modal-slide-over-window {
    @apply pointer-events-auto relative row-start-2 flex w-full cursor-default flex-col bg-white shadow-md ring-1 ring-secondary-300 ms-auto overflow-y-auto h-[100dvh] max-w-screen-md;
}
.fi-modal-window .fi-modal-header {
    @apply flex flex-row justify-between items-center px-4 pt-1 pb-1 sticky top-0 z-10 border-b border-secondary-200 bg-grid-2 gap-x-2;
}
.fi-modal-window .fi-modal-header > div {
    @apply block top-1 end-2;
}
.fi-modal-window .fi-modal-header > div .fi-modal-close-btn {
    @apply relative flex items-center justify-center
    rounded-none outline-none
    transition duration-75
    focus-visible:ring-2
    m-0 size-6
    text-secondary-400 hover:text-secondary-500 focus-visible:ring-primary-600;
}
.fi-modal-window .fi-modal-header > div .fi-icon-btn-icon {
    @apply shrink-0 size-5;
}
.fi-modal-window .fi-modal-header > div + div .fi-modal-heading {
    @apply text-base font-medium leading-normal text-secondary-800 me-0;
}
.fi-modal-window .fi-modal-content {
    @apply flex flex-col flex-1 gap-x-2 gap-y-2 py-4 px-4;
}
.fi-modal-window .fi-modal-content .fi-fo-component-ctn {
    @apply grid gap-4;
}
.fi-modal-window .fi-modal-footer {
    @apply w-full px-4 py-1 sticky
    bottom-0 border-t border-secondary-200 bg-white mt-auto;
}
.fi-modal-window .fi-modal-footer .fi-modal-footer-actions {
    @apply gap-1 flex flex-wrap justify-end items-center;
}
.fi-modal-window .fi-modal-footer .fi-modal-footer-actions .fi-ac-btn-action {
    @apply py-1;
}

/* Field */
.fi-fo-field-wrp > div {
    @apply grid gap-y-2;
}
.fi-fo-field-wrp .fi-fo-field-wrp-label {
    @apply inline-flex items-center gap-x-2;
}
.fi-fo-field-wrp .fi-fo-field-wrp-label sup {
    @apply text-red-600 font-semibold ml-0.5;
}
.fi-input-wrp-prefix {
    @apply items-center gap-x-2 pe-2 ps-2 flex border-e;
}

/* Fieldset */
.fi-fieldset {
    @apply rounded-none border border-secondary-200 p-4;
}

/* Split */
.fi-fo-split {
    @apply gap-4;
}

/* Input */
.fi-input-wrp {
    @apply flex rounded-none shadow-sm ring-secondary-200 ring-1 transition duration-75 bg-white;
}

/* Rich Editor */
.fi-fo-rich-editor .fi-fo-rich-editor-toolbar {
    @apply relative flex flex-col gap-x-2 border-b bg-grid-2 border-secondary-200 px-0 py-0;
}
.fi-fo-rich-editor .fi-fo-rich-editor-toolbar .fi-fo-rich-editor-toolbar-btn {
    @apply flex border-e bg-white border-secondary-200 h-6 cursor-pointer items-center justify-center rounded-none text-sm font-semibold text-secondary-800;
}
.fi-fo-rich-editor
    .fi-fo-rich-editor-toolbar
    .fi-fo-rich-editor-toolbar-btn
    svg {
    @apply size-4 shrink-0;
}

/* Select */
.fi-select-input {
    @apply py-0 text-sm;
}

/* Radio */
.fi-fo-radio {
    @apply gap-4 flex flex-wrap;
}
.fi-fo-radio > div > label {
    @apply flex gap-x-2;
}
.fi-fo-radio .fi-radio-input {
    @apply rounded-full;
}
