@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply scroll-smooth;
    &::-webkit-scrollbar {@apply w-2;}
    &::-webkit-scrollbar-track {@apply bg-gray-200;}
    &::-webkit-scrollbar-thumb {@apply bg-gray-500 bg-opacity-90;}
}

/* Theme */
.light { @apply bg-gray-100; }
.dark { @apply bg-slate-950 text-white/90; }

/* Core Styles */
.core-icon path { @apply fill-current transform-gpu; }
.core-divider { @apply py-8; }

/* Core Background Gradient */
.core-bg-gradient { @apply bg-gradient-to-r from-slate-950 via-slate-800 to-slate-950; }
.core-bg-gradient-2 { @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%; }
.core-bg-gradient-3 { @apply bg-gradient-to-br from-blue-800 via-violet-600 to-indigo-900; }

/* Core Background Clip Gradient */
.core-bg-clip { @apply  text-transparent bg-clip-text core-bg-gradient; }
.core-bg-clip-2 { @apply  text-transparent bg-clip-text core-bg-gradient-2; }
.core-bg-clip-3 { @apply  text-transparent bg-clip-text core-bg-gradient-3; }

.core-header {
    @apply
    sticky top-0 z-10
    flex flex-wrap w-full
    py-3 text-sm
    bg-slate-800
    sm:justify-start
    sm:flex-nowrap;
}
.core-top-navbar {
    @apply
    max-w-screen-2xl w-full
    mx-auto px-4
    sm:flex
    sm:items-center
    sm:justify-between;
}
.core-top-navbar .core-navbar-start {
    @apply
    flex items-center
    justify-between;
}
.core-top-navbar .core-navbar-brand {
    @apply
    flex-none
    text-xl font-semibold text-slate-50
    bg-slate-500 bg-opacity-50
    px-4 py-1
    focus:outline-none
    focus:opacity-90
    hover:opacity-90;
}
.core-top-navbar .core-toggle-navbar {
    @apply
    relative flex items-center justify-center
    text-slate-50
    bg-transparent
    border border-slate-500
    rounded-sm shadow-sm
    size-8 gap-x-2;
}
.core-top-navbar .core-navbar-end {
    @apply
    overflow-hidden
    transition-all duration-300
    basis-full grow md:block;
}
.core-top-navbar .core-navbar-menu {
    @apply
    flex flex-col-reverse md:flex-row
    gap-x-1 py-4 md:py-0
    sm:items-center sm:justify-end;
}
.core-top-navbar .core-navbar-menu-icon {
    @apply
    relative flex flex-wrap
    items-center
    gap-x-1 md:ps-2.5 mb-4 md:my-0
    before:block before:absolute
    before:top-1/2 before:-start-px
    before:w-px before:h-7
    before:bg-slate-500
    before:-translate-y-1/2;
}
.core-top-navbar .core-navbar-menu-item {
    @apply
    text-slate-50 font-medium
    hover:bg-slate-500 hover:bg-opacity-50
    px-2 py-1;
}
.core-top-navbar .core-navbar-menu-item-icon {
    @apply
    text-slate-50 font-medium
    bg-slate-500 bg-opacity-50
    hover:bg-opacity-40
    px-2 py-[0.4rem];
}
/* Jumbotron */
.jumbotron {
    @apply
    text-white
    select-none
    -mt-[60px] px-10
    bg-center bg-no-repeat bg-cover
    bg-slate-900 bg-blend-multiply bg-opacity-90;
}
.jumbotron .content {
    @apply
    mx-auto
    flex flex-col
    justify-center
    h-screen max-w-screen-xl ;
}
.jumbotron-personal .whois {
    @apply
    flex-shrink w-fit
    text-lg text-white/80;
}
.jumbotron-personal .whoami {
    @apply
    py-4
    font-extrabold
    text-4xl text-white/95 md:text-8xl;
}
.jumbotron-personal .skill {
    @apply
    w-full h-fit
    text-2xl md:text-6xl
    font-bold
    core-bg-clip-2;
}
.jumbotron-personal .btn {
    @apply
    px-5 py-2 mt-4
    w-fit gap-x-2
    text-base font-medium text-center text-white
    rounded bg-gray-600/50 hover:bg-gray-700/80
    inline-flex items-center justify-center ;
}
