@import "/vendor/filament/filament/resources/css/theme.css";
@config 'tailwind.config.js';

/* General */
* {
    scrollbar-width: thin;
    @apply antialiased;
}

/* Background */
.bg-grid {
    @apply bg-repeat bg-contain max-h-screen;
    background-image: url("/img/grid.svg");
}
.bg-grid-2 {
    @apply bg-repeat bg-fixed;
    background-image: url("/img/grid-2.svg");
}

/* Rounded */
.fi-sidebar *,
.fi-ta *,
.fi-simple-layout *,
.fi-wi-widget *,
.fi-dropdown *,
.fi-input-wrp {
    @apply rounded-none
    [&:nth-child(1_of_.fi-btn)]:rounded-none
    [&:nth-last-child(1_of_.fi-btn)]:rounded-none;
}

/* Shadow */
.fi-sidebar-nav,
.fi-wi-stats-overview-stat,
.fi-ta,
.fi-tabs,
.fi-page-sub-navigation-sidebar,
.fi-page-sub-navigation-tabs {
    @apply shadow-none;
}

/* Icon */
.icon path {
    @apply fill-current transform-gpu;
}
.fi-icon-btn-badge-ctn .fi-badge {
    @apply rounded-full size-4 shrink-0 text-[10px] font-extralight bg-primary-50 ring-primary-200 text-primary-500;
}

/* Notification */
.fi-no {
    @apply pointer-events-none fixed inset-0 z-50 mx-auto flex gap-0 items-end flex-col-reverse justify-end top-12 md:top-8;
}
.fi-no .fi-no-notification {
    @apply rounded-none shadow-md max-w-xs;
}
.fi-no .fi-no-notification > div {
    @apply p-2 gap-1 justify-center;
}
.fi-no .fi-no-notification .fi-no-notification-icon {
    @apply size-4 shrink-0 mt-1;
}
.fi-no .fi-no-notification .fi-no-notification-title {
    @apply text-sm text-balance line-clamp-1;
}
.fi-no .fi-no-notification .fi-no-notification-body {
    @apply text-sm text-balance line-clamp-2;
}

/* Cards */
.cards {
    @apply grid grid-cols-3 md:grid-cols-4 lg:grid-cols-8 gap-2 justify-start px-0;
}
.card {
    @apply flex flex-col gap-4 p-2 bg-white shadow-none overflow-hidden select-none cursor-default border border-gray-300 justify-between;
}
.card-title {
    @apply text-sm font-medium border-b border-gray-300 py-1;
}
.card-title-icon {
    @apply card-title inline-flex items-center gap-x-1;
}
.card-title-icon svg {
    @apply size-4 shrink-0;
}
.card-content {
    @apply text-sm text-pretty h-full;
}
.cards .card .fi-btn {
    @apply rounded-none px-2 py-1;
}

/* Topbar */
.fi-topbar > nav {
    @apply h-12 md:h-8 bg-grid-2 border-b border-gray-300 shadow-none ring-0 px-2 md:px-2 lg:px-2 py-0 md:py-4 gap-x-2;
}
.fi-topbar > nav > div[x-persist="topbar.end"] {
    @apply gap-x-1 -mr-1 md:mr-0;
}

/* Mobile Navigation */
.fi-topbar > nav > .fi-icon-btn {
    @apply h-full border-r px-6 border-gray-300 text-gray-500 rounded-none -ml-2;
}
.fi-topbar > nav > .fi-icon-btn .fi-icon-btn-icon {
    @apply size-6 shrink-0 icon;
}

/* Global Search */
.fi-topbar .fi-global-search-field .fi-input-wrp {
    @apply h-full border border-gray-300 ring-0 bg-white shadow-none [&:not(:has(.fi-ac-action:focus))]:focus-within:ring-1;
}
.fi-topbar .fi-global-search-field .fi-input-wrp-prefix {
    @apply ps-1 pe-1;
}
.fi-topbar .fi-global-search-field .fi-input-wrp-input {
    @apply justify-center;
}
.fi-topbar .fi-global-search-field .fi-input-wrp-input .fi-input {
    @apply p-1 md:p-0 text-sm;
}

/* Notification */
.fi-topbar .fi-topbar-database-notifications-btn {
    @apply m-0 bg-white border border-gray-300 focus-visible:ring-1 h-full w-full rounded-none;
}
.fi-topbar .fi-topbar-database-notifications-btn .fi-icon-btn-icon {
    @apply shrink-0 size-8 p-1 md:p-0 md:size-6;
}

/* User Avatar */
.fi-topbar .fi-user-menu {
    @apply h-full bg-white rounded-none border border-gray-300;
}
.fi-topbar .fi-user-menu .fi-user-avatar {
    @apply size-8 md:size-6 shrink-0 p-0.5;
}
.fi-topbar .fi-user-menu .fi-dropdown-panel {
    @apply rounded-none shadow-md w-32;
}
.fi-topbar .fi-user-menu .fi-dropdown-panel .fi-dropdown-list {
    @apply p-0;
}
.fi-topbar
    .fi-user-menu
    .fi-dropdown-panel
    .fi-dropdown-list
    .fi-dropdown-list-item {
    @apply px-2 py-1.5 md:py-1 text-sm;
}
.fi-topbar
    .fi-user-menu
    .fi-dropdown-panel
    .fi-dropdown-list
    .fi-dropdown-list-item-icon {
    @apply size-6 md:size-5 shrink-0;
}

/* Sidebar */
.fi-sidebar {
    @apply bg-white md:w-8;
}
.fi-sidebar-open {
    @apply md:!w-1/6;
}

/* Sidebar Header */
.fi-sidebar .fi-sidebar-header {
    @apply h-12 md:h-8 flex justify-between p-0 bg-[#E6130C];
}
.fi-sidebar .fi-sidebar-header > div {
    @apply flex-1;
}
.fi-sidebar .fi-sidebar-header .fi-logo {
    @apply text-lg md:text-base px-6 md:px-4 font-medium uppercase text-white;
}
.fi-sidebar .fi-sidebar-header .fi-icon-btn {
    @apply size-full shrink-0 rounded-none m-0;
}
.fi-sidebar-open .fi-sidebar-header .fi-icon-btn {
    @apply h-full w-9 shrink-0 rounded-none m-0;
}
.fi-sidebar .fi-sidebar-header .fi-icon-btn .fi-icon-btn-icon {
    @apply size-5 text-white icon;
}
.fi-sidebar-open .fi-sidebar-header .fi-icon-btn .fi-icon-btn-icon {
    @apply size-4;
}

/* Sidebar Navigation (Collapsed) */
.fi-sidebar .fi-sidebar-nav {
    @apply w-full border-r !gap-y-1 px-0 py-0 shadow-none;
    scrollbar-gutter: unset;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.fi-sidebar .fi-sidebar-nav-groups {
    @apply gap-y-0;
}
.fi-sidebar .fi-dropdown-trigger button {
    @apply gap-x-0 rounded-none px-0 py-0 size-8;
}
.fi-sidebar .fi-dropdown-trigger svg {
    @apply size-5 shrink-0;
}
.fi-sidebar .fi-dropdown-panel {
    @apply rounded-none -ml-3 z-20;
}

/* Sidebar Navigation (Open) */
.fi-sidebar-open .fi-sidebar-nav {
    @apply gap-y-0 px-6 py-6 md:px-4 md:py-4 border-r w-full;
}
.fi-sidebar-open .fi-sidebar-nav .fi-sidebar-nav-groups {
    @apply m-0 gap-y-2 md:gap-y-4 space-y-4 md:space-y-0;
}
.fi-sidebar-open .fi-sidebar-nav .fi-sidebar-nav-groups .fi-sidebar-group {
    @apply gap-y-2;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button {
    @apply gap-x-2 px-0 py-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button
    .fi-sidebar-group-icon {
    @apply size-6 md:size-5 shrink-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button
    .fi-sidebar-group-label {
    @apply text-sm text-inherit font-normal leading-none;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button
    .fi-icon-btn {
    @apply rounded-none m-0 size-4 shrink-0 text-gray-500;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-items {
    @apply gap-y-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item {
    @apply gap-y-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button {
    @apply gap-x-2 rounded-none px-0 py-1;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button
    .fi-sidebar-item-grouped-border {
    @apply shrink-0 size-6 md:size-5;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button
    .fi-sidebar-item-label {
    @apply text-sm  text-inherit font-normal;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button
    .fi-badge {
    @apply text-[10px] p-0 font-thin;
}

/* Breadcrumb */
.fi-breadcrumbs {
    @apply bg-white shadow-md md:shadow-none border-gray-300 border-b px-2 py-1 w-full flex fixed top-12 md:top-8 z-10;
}
.fi-breadcrumbs .fi-breadcrumbs-list .fi-breadcrumbs-item * {
    @apply text-inherit text-sm;
}

/* Main Page */
.fi-main {
    @apply mx-auto h-full w-full px-0 md:px-0 lg:px-0 max-w-full;
}
.fi-page > section {
    @apply flex flex-col py-0 gap-y-2;
}
.fi-page > section > div {
    @apply flex flex-col gap-0.5 p-0 m-0;
}

/* Page Header */
.fi-page .fi-header {
    @apply gap-0 flex-none grid grid-cols-2 mt-8 pt-1.5;
}
.fi-page .fi-header > div {
    @apply flex flex-row gap-0 h-full items-end;
}
.fi-page .fi-header > div > .fi-header-heading {
    @apply text-lg sm:text-lg h-full place-content-center font-semibold flex-1 uppercase px-2;
}
.fi-page .fi-header > div + div {
    @apply gap-0 m-0 justify-end items-center px-2;
}
.fi-page .fi-header > div + div .fi-ac {
    @apply flex flex-wrap items-center justify-start gap-2;
}
.fi-page .fi-header > div + div .fi-ac .fi-ac-action {
    @apply font-semibold rounded-none gap-2 px-2 py-1 text-sm inline-grid shadow-none;
}
.fi-page .fi-header > div + div .fi-ac .fi-ac-action .fi-btn-icon {
    @apply size-4;
}

/* Subnavigation Tab */
.fi-page .fi-page-sub-navigation-tabs {
    @apply hidden md:flex px-0 py-0 w-full overflow-x-auto bg-white shadow-none gap-x-0 m-0 rounded-none ring-1 ring-gray-300;
}
.fi-page .fi-page-sub-navigation-tabs .fi-tabs-item {
    @apply py-1 px-2 gap-2 border-e border-gray-300 rounded-none;
}
.fi-page .fi-page-sub-navigation-tabs .fi-tabs-item-active {
    @apply border-b-primary-500 border-b bg-white;
}
.fi-page .fi-page-sub-navigation-tabs .fi-tabs-item .fi-tabs-item-icon {
    @apply size-4 text-gray-800;
}
.fi-page .fi-page-sub-navigation-tabs .fi-tabs-item .fi-tabs-item-label {
    @apply p-0 text-gray-800;
}
.fi-page .fi-page-sub-navigation-tabs .fi-tabs-item .fi-badge {
    @apply rounded-none leading-3;
}

/* Subnavigation Select */
.fi-page .fi-page-sub-navigation-select {
    @apply mx-2 flex rounded-none shadow-none ring-1  bg-white ring-gray-300 md:hidden;
}
.fi-page .fi-page-sub-navigation-select .fi-select-input {
    @apply px-2 py-0.5 text-sm;
}

/* Content */
.fi-page .fi-page-sub-navigation-tabs + div {
    @apply grid flex-1 auto-cols-fr gap-2 p-2;
}
/* Widget */
.fi-page .fi-page-header-widgets {
    @apply gap-2;
}
/* Widget Stats */
.fi-page .fi-wi-stats-overview {
    @apply gap-0;
}
.fi-page .fi-wi-stats-overview .fi-wi-stats-overview-stats-ctn {
    @apply gap-2 grid-cols-3 md:grid-cols-6;
}
.fi-page
    .fi-wi-stats-overview
    .fi-wi-stats-overview-stats-ctn
    .fi-wi-stats-overview-stat {
    @apply relative py-2 px-4 bg-white shadow-none rounded-none ring-1 ring-gray-300;
}
.fi-page
    .fi-wi-stats-overview
    .fi-wi-stats-overview-stats-ctn
    .fi-wi-stats-overview-stat
    > div {
    @apply gap-0 items-center;
}
.fi-page
    .fi-wi-stats-overview
    .fi-wi-stats-overview-stats-ctn
    .fi-wi-stats-overview-stat
    > div
    > div {
    @apply gap-0;
}
.fi-page
    .fi-wi-stats-overview
    .fi-wi-stats-overview-stats-ctn
    .fi-wi-stats-overview-stat
    > div
    > div
    .fi-wi-stats-overview-stat-label {
    @apply text-sm font-medium text-gray-900;
}
.fi-page
    .fi-wi-stats-overview
    .fi-wi-stats-overview-stats-ctn
    .fi-wi-stats-overview-stat
    > div
    > div
    .fi-wi-stats-overview-stat-value {
    @apply text-xl font-semibold tracking-tight text-gray-950;
}

/* Widget Chart */
.fi-page .fi-wi-chart .fi-section {
    @apply rounded-none ring-1 ring-gray-300;
}
.fi-page .fi-wi-chart .fi-section .fi-section-content-ctn .fi-section-content {
    @apply px-4 pt-4 pb-0;
}

/* Table */
.fi-ta .fi-ta-ctn {
    @apply overflow-hidden bg-white divide-y divide-gray-300 shadow-none rounded-none ring-1 ring-gray-300;
}
.fi-ta .fi-ta-ctn .fi-ta-header-ctn {
    @apply divide-y divide-gray-300;
}

/* Table Toolbar */
.fi-ta .fi-ta-ctn .fi-ta-header-ctn .fi-ta-header-toolbar {
    @apply flex items-center justify-between px-1 py-1 gap-x-1 overflow-x-auto;
    scrollbar-width: none;
}
.fi-ta .fi-ta-ctn .fi-ta-header-ctn .fi-ta-header-toolbar > div {
    @apply flex items-center shrink-0 gap-x-1;
}
.fi-ta .fi-ta-ctn .fi-ta-header-ctn .fi-ta-header-toolbar > div + div {
    @apply flex items-center ms-auto gap-x-1;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > .fi-dropdown {
    @apply sm:hidden;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > .fi-dropdown
    .fi-dropdown-trigger {
    @apply flex cursor-pointer;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > .fi-dropdown
    .fi-dropdown-trigger
    .fi-ac-icon-btn-action {
    @apply border border-gray-300 w-7 h-full m-0;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > .fi-dropdown
    .fi-dropdown-trigger
    .fi-ac-icon-btn-action
    .fi-icon-btn-icon {
    @apply size-6 shrink-0 p-1 text-gray-900;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > div
    + div {
    @apply gap-x-1;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > div
    + div
    .fi-input-wrp {
    @apply flex shadow-none ring-0 rounded-none border border-gray-300 min-w-24;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    > div
    > div
    > div
    + div
    .fi-input-wrp
    .fi-input-wrp-input {
    @apply min-w-0 flex-1;
}
.fi-ta .fi-ta-ctn .fi-ta-header-ctn .fi-ta-header-toolbar .fi-select-input {
    @apply p-0 px-2;
}

/* Table Toolbar Action */
.fi-ta .fi-ta-ctn .fi-ta-header-ctn .fi-ta-header-toolbar .fi-ta-actions {
    @apply flex items-center justify-between gap-0 m-0 p-0 shrink-0;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-trigger {
    @apply gap-1;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-trigger
    .fi-icon-btn {
    @apply relative flex items-center justify-center gap-0 border border-gray-300 px-0 py-0 m-0 text-gray-900 font-medium rounded-none h-full w-fit md:hidden;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-trigger
    .fi-btn {
    @apply relative md:flex items-center justify-center gap-0 pr-2 px-0 py-0 m-0 text-gray-900 font-medium rounded-none h-full w-fit hidden;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-trigger
    .fi-icon-btn
    .fi-icon-btn-icon,
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-trigger
    .fi-btn
    .fi-btn-icon {
    @apply shrink-0 size-6 p-1 text-gray-950;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-panel {
    @apply absolute z-[5] w-screen divide-y divide-gray-300 rounded-none bg-white shadow-md ring-1 ring-gray-300 !max-w-fit;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-panel
    .fi-dropdown-list {
    @apply p-0;
}
.fi-ta
    .fi-ta-ctn
    .fi-ta-header-ctn
    .fi-ta-header-toolbar
    .fi-ta-actions
    .fi-dropdown-panel
    .fi-dropdown-list
    .fi-dropdown-list-item {
    @apply flex items-center w-full gap-1 px-2 py-1 justify-between text-sm transition-colors duration-75 rounded-none outline-none whitespace-nowrap disabled:pointer-events-none disabled:opacity-70;
}
.fi-ta
    .fi-ta-actions
    .fi-dropdown-panel
    .fi-dropdown-list
    .fi-dropdown-list-item
    .fi-dropdown-list-item-icon {
    @apply size-4 shrink-0;
}

/* Table Search */
.fi-ta .fi-ta-search-field .fi-input-wrp {
    @apply h-full border border-gray-300 ring-0 bg-transparent shadow-none [&:not(:has(.fi-ac-action:focus))]:focus-within:ring-1;
}
.fi-ta .fi-ta-search-field .fi-input-wrp-prefix {
    @apply ps-1 pe-1;
}
.fi-ta .fi-ta-search-field .fi-input-wrp-input {
    @apply justify-center;
}
.fi-ta .fi-ta-search-field .fi-input-wrp-input .fi-input {
    @apply p-0 text-sm;
}

/* Table Filter */
.fi-ta .fi-ta-filters-dropdown .fi-dropdown-trigger .fi-ac-action {
    @apply relative flex items-center justify-center text-gray-500 border border-gray-300 rounded-none h-full w-full m-0 hover:text-gray-500;
}
.fi-ta
    .fi-ta-filters-dropdown
    .fi-dropdown-trigger
    .fi-ac-action
    .fi-icon-btn-icon {
    @apply shrink-0 size-6 p-1;
}

/* Table Column Toggle */
.fi-ta .fi-ta-col-toggle .fi-dropdown-trigger .fi-ac-action {
    @apply relative flex items-center justify-center text-gray-500 border border-gray-300 rounded-none h-full w-full m-0 hover:text-gray-500;
}
.fi-ta .fi-ta-col-toggle .fi-dropdown-trigger .fi-ac-action .fi-icon-btn-icon {
    @apply shrink-0 size-6 p-1;
}

/* Table Content */
.fi-ta .fi-ta-content {
    @apply relative divide-y divide-gray-300 overflow-x-auto h-[70vh];
}
.fi-ta .fi-ta-content .fi-ta-table {
    @apply w-full table-auto divide-y divide-gray-300 text-start;
}

/* Table Content Header */
.fi-ta .fi-ta-content .fi-ta-table > thead {
    @apply divide-y divide-gray-300 bg-transparent;
}
.fi-ta .fi-ta-content .fi-ta-table > thead > tr {
    @apply bg-gray-50;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-selection-cell,
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row .fi-ta-group-selection-cell {
    @apply py-0 px-0 bg-gray-50 first-of-type:ps-0 last-of-type:pe-0 sm:first-of-type:ps-0 sm:last-of-type:pe-0 w-1;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-selection-cell > div,
.fi-ta
    .fi-ta-content
    .fi-ta-table
    .fi-ta-row
    .fi-ta-group-selection-cell
    > div {
    @apply px-4 py-0;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-selection-cell > div > label {
    @apply flex;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-selection-cell .fi-checkbox-input {
    @apply rounded-none size-4 ring-gray-300 ring-1;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-header-cell {
    @apply px-4 py-1 sm:first-of-type:ps-4 sm:last-of-type:pe-4 border-r border-r-gray-300 last-of-type:border-r-0 bg-white;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-header-cell > button {
    @apply flex w-full items-center gap-x-1 whitespace-nowrap justify-between;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-header-cell .fi-ta-header-cell-label {
    @apply text-sm font-medium text-gray-800;
}
.fi-ta
    .fi-ta-content
    .fi-ta-table
    .fi-ta-header-cell
    .fi-ta-header-cell-sort-icon {
    @apply size-4 shrink-0 transition duration-75 text-gray-500 group-hover:text-gray-600 group-focus-visible:text-gray-600;
}

/* Table Content Body */
.fi-ta .fi-ta-content .fi-ta-table > tbody {
    @apply divide-y divide-gray-300 whitespace-nowrap;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row {
    @apply hover:bg-gray-50;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row .fi-ta-group-header {
    @apply flex w-full items-center gap-x-2 bg-gray-50 px-2 py-0.5 cursor-pointer;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row .fi-ta-group-header > div > h4 {
    @apply text-sm font-normal text-gray-800;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row .fi-ta-group-header .fi-icon-btn {
    @apply size-4 shrink-0 text-gray-800;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row .fi-ta-cell {
    @apply p-0 first-of-type:ps-0 last-of-type:pe-0 sm:first-of-type:ps-0 sm:last-of-type:pe-0 border-r border-r-gray-300 last-of-type:border-r-0;
}
.fi-ta .fi-ta-content .fi-ta-table .fi-ta-row .fi-ta-actions-cell {
    @apply border-r-0 p-0 first-of-type:ps-0 last-of-type:pe-0 sm:first-of-type:ps-0 sm:last-of-type:pe-0 bg-gray-50;
}

.fi-ta
    .fi-ta-content
    .fi-ta-table
    .fi-ta-row
    .fi-ta-actions-cell
    .fi-ta-actions {
    @apply flex shrink-0 items-center gap-1 justify-end;
}
