@import "/vendor/filament/filament/resources/css/theme.css";
@config 'tailwind.config.js';

/* General */
* {
    scrollbar-width: thin;
    @apply antialiased;
}
.bg-grid {
    @apply bg-repeat bg-contain max-h-screen;
    background-image: url("/img/grid.svg");
}
.bg-grid-2 {
    @apply bg-repeat bg-fixed;
    background-image: url("/img/grid-2.svg");
}
.fi-main {
    @apply px-4;
}
.fi-sidebar *,
.fi-ta *,
.fi-page *,
.fi-simple-layout *,
.fi-wi-widget *,
.fi-dropdown *,
.fi-btn,
.fi-tabs,
.fi-input-wrp {
    @apply rounded-none
    [&:nth-child(1_of_.fi-btn)]:rounded-none
    [&:nth-last-child(1_of_.fi-btn)]:rounded-none;
}

/* Shadow */
.fi-sidebar-nav,
.fi-breadcrumbs,
.fi-wi-stats-overview-stat,
.fi-ta,
.fi-tabs,
.fi-page-sub-navigation-sidebar,
.fi-page-sub-navigation-tabs {
    @apply shadow-md;
}

/* Topbar */
.fi-topbar > nav {
    @apply h-8 leading-8 bg-grid-2 border-b border-gray-300 shadow-none ring-0 px-2 md:px-2 lg:px-2 py-0 gap-x-2;
}
.fi-topbar > nav > div[x-persist="topbar.end"] {
    @apply gap-x-1;
}

/* Global Search */
.fi-topbar .fi-global-search-field .fi-input-wrp {
    @apply h-full border border-gray-300 ring-0 shadow-none [&:not(:has(.fi-ac-action:focus))]:focus-within:ring-1;
}
.fi-topbar .fi-global-search-field .fi-input-wrp-prefix {
    @apply ps-1 pe-1;
}
.fi-topbar .fi-global-search-field .fi-input-wrp-input {
    @apply justify-center;
}
.fi-topbar .fi-global-search-field .fi-input-wrp-input .fi-input {
    @apply p-0;
}

/* Notification */
.fi-topbar .fi-topbar-database-notifications-btn {
    @apply m-0 border border-gray-300 focus-visible:ring-1 h-full w-full rounded-none;
}
.fi-topbar .fi-topbar-database-notifications-btn .fi-icon-btn-icon {
    @apply shrink-0 size-6;
}

/* User Avatar */
.fi-topbar .fi-user-menu {
    @apply h-full rounded-none border border-gray-300;
}
.fi-topbar .fi-user-menu .fi-user-avatar {
    @apply size-6 shrink-0 p-0.5;
}
.fi-topbar .fi-user-menu .fi-dropdown-panel {
    @apply rounded-none shadow-md w-32;
}
.fi-topbar .fi-user-menu .fi-dropdown-panel .fi-dropdown-list {
    @apply p-0;
}
.fi-topbar
    .fi-user-menu
    .fi-dropdown-panel
    .fi-dropdown-list
    .fi-dropdown-list-item {
    @apply px-2 py-1 text-xs;
}
.fi-topbar
    .fi-user-menu
    .fi-dropdown-panel
    .fi-dropdown-list
    .fi-dropdown-list-item-icon {
    @apply size-5 shrink-0;
}

/* Sidebar */
.fi-sidebar {
    @apply bg-white;
}

/* Sidebar Header */
.fi-sidebar .fi-sidebar-header {
    @apply h-8 flex justify-between p-0 bg-[#E6130C];
}
.fi-sidebar .fi-sidebar-header > div {
    @apply flex-1;
}
.fi-sidebar .fi-sidebar-header .fi-logo {
    @apply text-base place-content-center font-medium uppercase text-white;
}
.fi-sidebar .fi-sidebar-header .fi-icon-btn {
    @apply size-full border-r shrink-0 rounded-none m-0;
}
.fi-sidebar-open .fi-sidebar-header .fi-icon-btn {
    @apply h-full w-9 border-r shrink-0 rounded-none m-0;
}
.fi-sidebar .fi-sidebar-header .fi-icon-btn .fi-icon-btn-icon {
    @apply size-6  text-white;
}
.fi-sidebar-open .fi-sidebar-header .fi-icon-btn .fi-icon-btn-icon {
    @apply size-4;
}

/* Sidebar Navigation (Collapsed) */
.fi-sidebar .fi-sidebar-nav {
    @apply w-full border-r gap-y-0 px-0 py-0 shadow-none;
}
.fi-sidebar .fi-dropdown-trigger button {
    @apply gap-x-0 rounded-none px-0 py-0 size-8;
}
.fi-sidebar .fi-dropdown-trigger svg {
    @apply size-5 shrink-0;
}

/* Sidebar Navigation (Open) */
.fi-sidebar-open .fi-sidebar-nav {
    @apply gap-y-0 px-0 py-0 border-r w-full;
}
.fi-sidebar-open .fi-sidebar-nav .fi-sidebar-nav-groups {
    @apply -m-2 gap-y-0 space-y-1;
}
.fi-sidebar-open .fi-sidebar-nav .fi-sidebar-nav-groups .fi-sidebar-group {
    @apply gap-y-2;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button {
    @apply gap-x-2 px-0 py-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button
    .fi-sidebar-group-icon {
    @apply size-5 shrink-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button
    .fi-sidebar-group-label {
    @apply text-xs text-inherit font-normal leading-none;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-button
    .fi-icon-btn {
    @apply rounded-none m-0 size-4 shrink-0 text-gray-500;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-group-items {
    @apply gap-y-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item {
    @apply gap-y-0;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button {
    @apply gap-x-2 rounded-none px-0 py-1;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button
    .fi-sidebar-item-grouped-border {
    @apply shrink-0 size-5;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button
    .fi-sidebar-item-label {
    @apply text-xs text-inherit font-normal;
}
.fi-sidebar-open
    .fi-sidebar-nav
    .fi-sidebar-nav-groups
    .fi-sidebar-group
    .fi-sidebar-item
    .fi-sidebar-item-button
    .fi-badge {
    @apply text-[10px] p-0 font-thin;
}

/* Breadcrumb */
.fi-breadcrumbs {
    @apply bg-white -ml-4 px-4 py-1 w-full fixed top-8 z-10;
}
.fi-breadcrumbs .fi-breadcrumbs-list .fi-breadcrumbs-item * {
    @apply text-inherit text-xs;
}

/* Page Header */
.fi-header {
    @apply p-0 sm:-mb-6 flex-row justify-between;
}
.fi-header div + div .fi-ac {
    @apply gap-2 flex-row-reverse;
}

/* Heading */
.fi-header-heading {
    @apply sm:mt-8 sm:py-2 text-base uppercase text-pretty;
}

/* Page */
.fi-page section {
    @apply pt-4;
}
.fi-page section > div {
    @apply gap-4;
}
.fi-page section > div > div {
    @apply gap-4 relative;
}

/* Simple Page */
.fi-simple-layout {
    @apply px-4 bg-grid;
}
.fi-simple-layout .fi-simple-main {
    @apply bg-white/20 md:w-4/12;
}
.fi-simple-layout .fi-simple-main .fi-logo {
    @apply hidden;
}

/* Subnavigation Top */
.fi-page-sub-navigation-tabs,
.fi-tabs {
    @apply mx-0 p-0 gap-x-0;
}

/* Subnavigation Sidebar*/
.fi-page-sub-navigation-sidebar-ctn * {
    @apply gap-y-0;
}
.fi-page-sub-navigation-sidebar {
    @apply w-full h-[75.5vh] bg-white rounded-sm dark:bg-gray-950 ring-1 ring-gray-950/5;
}
.fi-page-sub-navigation-sidebar .fi-sidebar-item-button {
    @apply px-4;
}

/* Content */
.fi-page-sub-navigation-sidebar-ctn + div {
    @apply max-h-max;
}

/* Table */
.fi-ta thead {
    @apply sticky top-0 z-[5];
}
.fi-ta-table thead tr {
    @apply bg-slate-800 shadow-md;
}
.fi-ta-header {
    @apply gap-2;
}
.fi-ta-header-toolbar {
    @apply py-2 px-4;
}
.fi-ta-header-cell {
    @apply !px-0 !py-2 hover:bg-slate-700;
}
.fi-ta-header-cell button {
    @apply justify-between px-4;
}
.fi-ta-header-cell-label {
    @apply text-white flex-1;
}
.fi-ta-header-cell-sort-icon {
    @apply group-hover:text-white/90 group-focus-visible:text-white/90 text-white;
}
.fi-ta-cell {
    @apply border-l first-of-type:border-l-0 first-of-type:ps-0 last-of-type:pe-0;
}
.fi-ta-group-header {
    @apply shadow-md bg-gray-100 py-1;
}
.fi-ta-group-selection-cell {
    @apply border-l-0 bg-gray-100;
}
.fi-ta-selection-cell {
    @apply border-l-0;
}
.fi-ta-selection-cell > div {
    @apply py-0;
}
.fi-ta-selection-indicator {
    @apply bg-white py-1 rounded-sm;
}
.fi-table-header-group-cell div {
    @apply justify-center;
}
.fi-ta-content {
    @apply relative h-[70vh];
}
.fi-ta-content .fi-badge {
    @apply py-1 px-3 gap-x-2 justify-between text-sm text-left;
}
.fi-pagination {
    @apply p-2;
}
.fi-ta-image .rounded-full {
    border-radius: 100%;
}

/* Modal */
.fi-modal-footer-actions .fi-btn-color-secondary {
    @apply bg-success-700 hover:bg-success-600;
}

/* Widgets */
.fi-wi-stats-overview-stats-ctn {
    @apply grid-cols-2 md:grid-cols-4;
}
.fi-resource-projects .fi-wi-stats-overview-stats-ctn,
.fi-wi-stats-overview-stats-ctn {
    @apply grid-cols-2 md:grid-cols-6 cursor-default select-none;
}

/* Slider */
.slider {
    @apply w-full h-8
    border-2 border-gray-200
    rounded-sm outline-none
    appearance-none
    active:border-slate-500;
}
.slider::-webkit-slider-thumb {
    @apply w-8 h-8
    rounded-sm
    appearance-none
    cursor-pointer
    bg-[var(--thumb-color)];
}
.fi-resource-icons .fi-wi-table .fi-ta-content {
    @apply h-fit;
}

/* Media >768px */
@media (min-width: 768px) {
    .fi-sidebar {
        @apply w-10 z-10;
    }
    .fi-sidebar-open {
        @apply !w-1/6;
    }
    .fi-sidebar-nav {
        @apply !gap-y-1 p-0;
        scrollbar-gutter: unset;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .fi-sidebar-open .fi-sidebar-nav {
        @apply p-6;
    }
    .fi-sidebar-open .fi-sidebar-nav-groups {
        @apply !gap-y-2;
    }
    .fi-sidebar .fi-dropdown-panel {
        offset-position: 0;
    }
    .fi-sidebar-nav-groups {
        @apply !gap-y-0;
    }
    .fi-sidebar-item {
        @apply px-0 gap-y-0;
    }
    .fi-page-sub-navigation-sidebar-ctn {
        @apply w-2/12 bg-white rounded-sm;
    }
    .fi-page-sub-navigation-sidebar-ctn * {
        @apply gap-y-0;
    }
    .fi-page-sub-navigation-sidebar-ctn .fi-sidebar-item-button {
        @apply px-4;
    }
    .fi-dropdown-panel {
        @apply z-[11];
    }
}
